<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoQA Suite"  parallel="methods" thread-count="5">
    <test name="All DemoQA Tests">
        <classes>
            <class name="tests.AlertsTest"/>
            <class name="tests.BrowserWindowsTest"/>
            <class name="tests.ButtonsTest"/>
            <class name="tests.CheckBoxTest"/>
            <class name="tests.FramesTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.ModalDialogsTest"/>
            <class name="tests.NestedFramesTest"/>
            <class name="tests.PracticeFormTest"/>
            <class name="tests.RadioButtonTest"/>
            <class name="tests.SelectableTest"/>
            <class name="tests.SortableTest"/>
            <class name="tests.WebTablesTest"/>
            <class name="tests.WidgetsAccordianTest"/>
            <class name="tests.WidgetsAutoCompleteTest"/>
            <class name="tests.WidgetsDatePickerTest"/>
            <class name="tests.WidgetsMenuTest"/>
            <class name="tests.WidgetsProgressBarTest"/>
            <class name="tests.WidgetsSlidersTest"/>
            <class name="tests.WidgetsTabsTest"/>
            <class name="tests.WidgetsToolTipTest"/> 
                  

        </classes>
    </test>

</suite>
